@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SugarTown - @ViewBag.Title</title>
    <link href="@Url.Content("~/SugarTown/Content/bootstrap/CSS/bootstrap.min.css")" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/SugarTown/Content/bootstrap/CSS/bootstrap-responsive.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/SugarTown/Content/bootstrap/CSS/sugartownbootstrap.css")" rel="stylesheet">
    @RenderSection("HeadArea", required: false)
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span12 header">
                <a title="Home" href="/SugarTown/posts/page/1"><img alt="Sugar Town" src="@Url.Content("~/SugarTown/Content/Images/logo.png")" /></a>
            </div>
        </div>
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/SugarTown/posts/page/1">Blog Posts</a></li>
                  
                    <li><a href="/sugartown/settings/">Settings</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
          <div class="span12">
             <ul class="unstyled welcome">
                  <li>Welcome!</li>
              </ul>
          </div>
        </div>

        @RenderBody()
        <div class="row">
            <div class="span12 footer">
                <small> @DateTime.Now.Year.ToString()</small>
            </div>
        </div>
    </div>
</body>
</html>
