@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<dynamic>>

@{
    ViewBag.Title = "Posts";
    Layout = "_Layout";
}

@section HeadArea{

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/SugarTown/Content/DataTables192/media/css/demo_table_jui.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/SugarTown/Content/themes/smoothness/jquery-ui.css")"/>

    <script type="text/javascript" language="javascript" src="@Url.Content("~/SugarTown/Content/Scripts/jquery-1.4.4.min.js")"></script>
		<script type="text/javascript" language="javascript" src="@Url.Content("~/SugarTown/Content/Scripts/DataTables192/media/js/jquery.dataTables.js")"></script>
		<script type="text/javascript" charset="utf-8">
		    $(document).ready(function () {
		        $('#posts').dataTable(
		            {
		                "bJQueryUI": true
		            }
                );
		    });
		</script>
}

<h1>Posts</h1>

<a href="/posts/create">Create</a>
               
<table id="posts">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date Created</th>
        </tr>  
    </thead>
    <tbody>                                                           
        @foreach(var item in Model)
        {
            <tr>
                <td><a href="/@item.Id">Edit</a></td>
                <td>@item.Title</td>
                <td>@item.DateCreated</td>
            </tr>
        }
    </tbody>
</table>
